apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  namespace: cloudflared
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
        - name: cloudflared
          image: cloudflare/cloudflared:2025.11.1
          env:
            - name: TOKEN
              valueFrom:
                secretKeyRef:
                  name: cloudflared-secret
                  key: token
          command:
            - "cloudflared"
            - "--no-autoupdate"
            - "tunnel"
            - "run"
            - "$(TOKEN)"
          resources:
            limits:
              cpu: 500m
              memory: 256Mi
            requests:
              cpu: 100m
              memory: 128Mi
